<a href="https://colab.research.google.com/github/littlesudip/CSE_310_18101094/blob/master/B2_CT_3_18101094.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Sum the following series

In [ ]:
n = int(input('n: '))
start = 1
sum = 0
for i in range(n):
    sum = sum+start 
    start = start+2
print('Sum:',sum)

n: 6
Sum: 36

2.You have a group of 3 students. Each student has a name, ID and dept stored in a 	dictionary. And all 3 students are stored in a “students” dictionary. Now use a loop to iterate through the “students” dictionary and print only the “name” of all the students.

In [ ]:
students = {
10 : {'ID': 10,
      'Name': 'Reem Hossain',
      'Dept': 'CSE'},

20 : { 'ID': 20, 
      'Name': 'Fahmidah Khan',
      'Dept': 'CSE'},

30 : {'ID': 30,
      'Name': 'Ankita Paul',
      'Dept': 'CSE'}

}

for i in students:
    print(students[i]['Name'])

Reem Hossain
Fahmidah Khan
Ankita Paul