<a href="https://colab.research.google.com/github/littlesudip/CSE_310_18101094/blob/master/B2_CT_2_18101094.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Write a python program to calculate the grade of an exam. The exam mark will be given as input. Follow the UAP rule for grading.**

In [ ]:
marks = float(input("Input:"))
if  marks>=80:
    print('Output: A+')
elif (marks>=75) and (marks<80):
    print('Output: A') 
elif (marks>=70) and (marks<75):
    print('Output: A-')  
elif (marks>=65) and (marks<70):
    print('Output: B+')  
elif (marks>=60) and (marks<65):
    print('Output: B') 
elif (marks>=55) and (marks<60):
    print('Output: B-')  
elif (marks>=50) and (marks<55):
    print('Output: C+')    
elif (marks>=45) and (marks<50):
    print('Output: C')
elif (marks>=40) and (marks<45):
    print('Output: C-')
else:
         print('Output: F')

Input:74
Output: A-

# ***2.Write a python code to determine negative or non-negative. ***

In [ ]:
number = float(input("Input:"))
if number > 0:
    print("Non-negative")
elif number == 0:
    print(Zero)
else:
    print("Negative")

Input:1
Non-negative

# 3.Given a list of 5 elements, swap two values of specified index.

In [ ]:
element_1 = input('Element 1:')
element_2 = input('Element 2:')
element_3 = input('Element 3:')
element_4 = input('Element 4:')
element_5 = input('Element 5:')
list = [element_1,element_2,element_3,element_4,element_5]
index_1 = int (input('Index 1:'))
index_2 = int (input('Index 2:'))
temp = list[index_2]
list[index_2] = list[index_1] 
list[index_1] = temp
print('List =',list)

Element 1:10
Element 2:5
Element 3:100
Element 4:4
Element 5:6
Index 1:2
Index 2:4
List = ['10', '5', '6', '4', '100']

# 4.Choose variables of appropriate data type to store the following information where you can search information about an employee with their EmpID.

In [ ]:
emp_1={
    'EmpID': 77920,
    'LastName': 'Jackson',
    'FirstName': 'Stephen',
    'HireDate': '11-29-1997'
}

emp_2={
    'EmpID': 77921,
    'LastName': 'Reynolds',
    'FirstName': 'Sandy', 
    'HireDate': '01-04-1993'
}

emp_3={
    'EmpID': 77922,
    'LastName': 'Armstrong',
    'FirstName': 'Stephen', 
    'HireDate': '09-16-1989'
}


emp_4={
    'EmpID': 77823,
    'LastName': 'Jackson',
    'FirstName': 'Linda', 
    'HireDate': '10-09-1996'
}

employee={ 
'77920':emp_1,
'77921':emp_2,
'77922':emp_3,
'77923':emp_4
}

#For search information about an employee with their EmpID.	
print(employee['77921']['FirstName'])

Sandy